[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "datagovsgR"]
	path = datagovsgR
	url = https://github.com/clintonwxy/datagovsgr
